{% extends "wiki/modules/_base.html" %}

{% block title %}Enter New Password{% endblock %}

{% block content %}
  <h2>Set a New Password</h2>
  {% if validlink %}
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="wiki-input-styled">
            {% if field.help_text %}
                <small class="form-text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p class="form-field-error">{{ error }}</p>
            {% endfor %}
        </div>
      {% endfor %}
      <div class="actions">
        <button type="submit" class="button-styled button-create">Change My Password</button>
      </div>
    </form>
  {% else %}
    <p class="messages error">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    <div class="actions">
      <a href="{% url 'password_reset' %}" class="button-styled button-warn">Request a New Link</a>
    </div>
  {% endif %}
{% endblock %}