{% extends "wiki/modules/_base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <h2>Reset Your Password</h2>
  <p>Please enter the email address you used to register. We will send you a link to reset your password.</p>
  
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_email">Email Address:</label>
        <input type="email" name="email" autocomplete="email" required id="id_email" class="wiki-input-styled">
    </div>
    <div class="actions">
        <button type="submit" class="button-styled button-create">Send Reset Link</button>
    </div>
  </form>
{% endblock %}