{% comment %} templates/wiki/modules/_base.html {% endcomment %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet", href="{% static 'wiki/css/style.css'%}">
    <link rel="stylesheet", href="{% static 'wiki/css/wiki.css'%}">
    <link rel="stylesheet", href="{% static 'wiki/css/profile-widget.css'%}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="{% static 'wiki/icons/logo512.png' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  </head>

<div id="page">
    {% include "./_profile_widget.html" %}
    {% include "./_menu.html" %}

    <div id="wiki-content">
        {% include "./_messages.html" %}

        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="{% static 'wiki/JS/wiki_utils.js' %}" defer></script>
<script src="{% static 'wiki/JS/profile_widget.js' %}" defer></script>
<script src="{% static 'wiki/JS/wiki_editor_enhancements.js' %}" defer></script>