{% comment %} templates/wiki/modules/_profile_widget.html {% endcomment %}
{% load static %}

{% if user.is_authenticated %}
    {% with num_actions_for_widget=user.is_superuser|yesno:"3,2" %}
    <div class="profile-widget profile-widget-animate" style="--num-actions: {{ num_actions_for_widget }};" data-widget-type="expandable">
    {% endwith %}
        {# The avatar is the main trigger for opening/closing #}
        <div class="avatar-display" role="button" tabindex="0" aria-haspopup="true" aria-expanded="false" aria-controls="actions-tray-{{ view.unique_id|default:'1' }}">
            <img src="
                {% if user.profile.pfp.url %}
                    {{ user.profile.pfp.url }}
                {% else %}
                    {% static 'wiki/icons/default-avatar.jpg'%}
                {% endif %}
             " alt="User Avatar">
        </div>
        <div class="actions-tray" id="actions-tray-{{ view.unique_id|default:'1' }}" role="menu">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="action-icon" role="menuitem" aria-label="Log Out" style="border: none; background-color: rgba(0, 0, 0, 0); cursor: pointer;">
                    <img src="{% static 'wiki/icons/exit.svg'%}" alt="Log Out">
                </button>
            </form>
            <a href="{% url 'wiki:profile' %}" class="action-icon" role="menuitem" aria-label="View Profile">
                <img src="{% static 'wiki/icons/user.svg'%}" alt="User Profile">
            </a>
            {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}" class="action-icon" role="menuitem" aria-label="Admin Panel">
                <img src="{% static 'wiki/icons/admin.svg'%}" alt="Admin Panel">
            </a>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="profile-widget" data-widget-type="link">
        <a href="{% url 'login' %}?next={{request.path}}" class="avatar-display login-link" aria-label="Log In">
            <img src="{% static 'wiki/icons/login.png'%}" alt="Log In Icon">
        </a>
    </div>
{% endif %}