{% extends "./wiki_base.html" %}
{% block title%}{{ page.title }} - Wiki{% endblock %}
{% load static %}
{% block content %}
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h1>{{ page.title }}</h1>
            <div class="page-meta">
                Created: {{ page.created_at|date:"F d, Y, P" }} <br>
                Last updated: {{ page.updated_at|date:"F d, Y, P" }}
                {% if page.last_modified_by %}
                    by <strong>{{ page.last_modified_by.username }}</strong>
                {% else %}
                    (modifier unknown)
                {% endif %}
            </div>

            <div class="actions">
                {% comment %} {% if user.is_authenticated %} {% endcomment %}
                    <a href="{% url 'wiki:page_edit' page.slug %}" class="edit">Edit This Page</a>
                    <a href="{% url 'wiki:page_create' %}" class="create">Create New Page</a>
                {% comment %} {% else %}
                    <a href="{% url 'login' %}?next={{request.path}}" class="login">Login to edit or delete this page.</a>
                {% endif %} {% endcomment %}
            </div>
        </div>

        <div class="desktop-only" style="margin-right: 20px;">
            <img src="data:image/png;base64,{{ qrcode }}" style="max-height: 100%;" />
        </div>
    </div>


    <hr style="margin: 20px 0;">

    <div class="markdown-content">
        {{ html_content|safe }}
    </div>

    <hr style="margin: 3rem 0 2rem 0;">

    {% if page_files %}
    <div class="wiki-attachments section-card-plain">
        <h2>Attached Files</h2>
            <ul class="file-list">
                {% for file_attachment in page_files %}
                    <li class="file-item">
                        <a href="{{ file_attachment.file.url }}" target="_blank" class="file-link">{{ file_attachment.filename_display }}</a>
                        <small class="file-meta">
                            - Uploaded on {{ file_attachment.uploaded_at|date:"M d, Y H:i" }}
                            {% if file_attachment.uploaded_by %}
                                by {{ file_attachment.uploaded_by.username }}
                            {% endif %}
                        </small>
                        
                        <a href="{% url 'wiki:page_download_file' page.slug file_attachment.id %}" class="link button-danger-small file-download-btn" download>Download</a>

                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}